<?xml version="1.0"?>
<launch>
	<arg name="camera" default="xtion"/>
	<arg name="camera_rgb" default="$(arg camera)/rgb"/>
	<arg name="image_rect_suffix" default="image_rect_color"/>

	<arg name="point_cloud_topic" default="$(arg camera)/depth_registered/points"/>
	<arg name="camera_frame" default="$(arg camera)_rgb_optical_frame"/>
	<arg name="surface_frame" default="surface"/>
	<arg name="upright_frame" default="base_footprint"/>
	<arg name="publish_surface_transform" default="false"/>

	<include file="$(find tams_bartender_recognition)/launch/recognition_pipeline.launch">
		<arg name="always_enabled" value="false"/>
		<arg name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
		<arg name="surface_frame" value="$(arg surface_frame)"/>
		<arg name="publish_surface_transform" default="$(arg publish_surface_transform)"/>
	</include>

	<node pkg='tams_bartender_recognition' type='detect_bottles_action' name='detect_bottles_action' output='screen'>
		<param name="camera_frame" value="$(arg camera_frame)"/>
	</node>
</launch>
