<?xml version="1.0"?>
<launch>
	<!-- camera topics and frames-->
	<arg name="camera" default="camera"/>
	<arg name="camera_rgb_prefix" default="$(arg camera)/rgb"/>
	<arg name="image_rect_suffix" default="image_rect_color"/>

	<arg name="point_cloud_topic" default="/$(arg camera)/depth_registered/points"/>
	<arg name="rgb_frame" default="$(arg camera)_rgb_optical_frame"/>
	<arg name="depth_frame" default="$(arg camera)_depth_optical_frame"/>
	<arg name="publish_surface_transform" default="true"/>

	<!-- launch camera -->
	<include file="$(find astra_launch)/launch/astra.launch">
		<arg name="camera" value="$(arg camera)"/>
		<arg name="rgb_frame_id" value="$(arg rgb_frame)"/>
		<arg name="depth_frame_id" value="$(arg depth_frame)"/>
	</include>

	<!-- launch recognition -->
	<include file="$(find tams_bartender_recognition)/launch/bringup.launch">
		<arg name="camera" value="$(arg camera)"/>
		<arg name="camera_rgb" value="$(arg camera_rgb_prefix)"/>
		<arg name="image_rect_suffix" value="$(arg image_rect_suffix)"/>

		<arg name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
		<arg name="camera_frame" value="$(arg rgb_frame)"/>
		<arg name="surface_frame" value="surface"/>
		<arg name="upright_frame" value="surface"/>
		<arg name="publish_surface_transform" value="$(arg publish_surface_transform)"/>
	</include>
</launch>
