<?xml version="1.0"?>
<launch>
	<arg name="always_enabled" default="false"/>
	<arg name="point_cloud_topic" default="/camera/depth_registered/points"/>

	<node pkg='pcl_object_recognition' type='classification_node.py' name='object_classification' output='screen'>
		<param name="object_group" value="bottles_small" />
		<param name="version" value="1"/>
	</node>

	<node pkg='pcl_object_recognition' type='object_segmentation' name='object_segmentation' output='screen'>
		<param name="enabled" value="$(arg always_enabled)"/>
		<param name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
	</node>
</launch>
